<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>Electronic Era</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
	<style>
		.alert {
		  padding: 20px;
		  background-color: #f44336;
		  color: white;
		}
		
		.closebtn {
		  margin-left: 15px;
		  color: white;
		  font-weight: bold;
		  float: right;
		  font-size: 22px;
		  line-height: 20px;
		  cursor: pointer;
		  transition: 0.3s;
		}
		
		.closebtn:hover {
		  color: black;
		}
	</style>
</head>
<body>
	
	{% if messages %}
	<div class="alert">
		{% for message in messages %}
		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
		 {{ message }}
		{% endfor %}
	</div>
	{% endif %}

	<div class="main">  	
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="login" style="margin-top: 200px;">
        <form action="register" method="post">
            {% csrf_token %}
            <label for="chk" aria-hidden="true">Signup</label>
            <input type="text" name="uname" placeholder="User name" required="">
            <input type="email" name="email" placeholder="Email" required="">
            <input type="password" name="pswd" placeholder="Password" required="">
            <button type="submit">Sign up</button>
        </form>
        <div>
            <p style="margin-left: 10px;color: rgb(0, 0, 0);">
                Already have an account? 
                <a href="../" class="button" style="text-decoration: none;">Login</a>
            </p>
        </div>
    </div>
	
</div>

</body>
</html>